################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/minesweeper_xmas/minesweeper_xmas/obj/Debug/minesweeper_xmas.csproj.AssemblyReference.cache
